.App {
  text-align: center;
  background: gray;
  padding: 30px;
  width: 500px;
  margin-left: 400px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px 4px slategray;
  
}

.delete-button {
  box-shadow: 2px 2px 4px black;

}

.todo.completed {
  text-decoration: line-through;
  color: slategray;
}

.todo-list {
  justify-content: center;
  text-align: center;
  font-size: 25px;
  color: blue;
  text-shadow: 2px 2px 4px black;

}

.form {
  margin-top: 40px;
}

.input {
  font-size: 25px;
}

.add-button {
  font-size: 20px;
  margin-left: 10px;
}